

img {
    padding:100px;
    max-width: 70%;
}

div {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    border-bottom: thick;
    font-family: Arial;
    background: linear-gradient(to right, #00AAFF, #2efd84);

    
}