.bio{
    border-style:groove;
    width: 500px;
    margin: 20px;
    text-align: center;
    -webkit-box-shadow: 4px 3px 3px 1px rgba(0,0,0,0.58); 
    box-shadow: 4px 3px 3px 1px rgba(0,0,0,0.58);
    padding: 10px;
    position: relative;
    margin-left: 150px;
    
    display: flex;
    
}

.container{ 
    display: flex;
}

.links{
    display: flex;
    position: relative;
    left:300px;

    size: 50px;
    
}